/* Página de Consultas */
.consults-page {
  background-color: #121212;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  min-height: 100vh;
}

h1, h2 {
  color: #f1f1f1;
  margin-bottom: 10px;
}

.consults-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-top: 20px;
}

.consult-card {
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 20px;
  border: 2px solid #3c3c3c;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.consult-card:hover {
  background-color: #007bff;
}

.icon {
  display: block;
  margin-top: 10px;
  font-size: 1.2em;
  color: #cccccc;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  color: #ffffff;
  width: 70%;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
}

/* Caixa de Código */
.code-box {
  background-color: #333333;
  border-radius: 8px;
  padding: 15px;
  margin-top: 15px;
  color: #eeeeee;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.95em;
  overflow-x: auto;
  text-align: left;
  white-space: pre;
}

/* Personalização da Scrollbar */
.modal-content {
  scrollbar-color: #d1d5db #2d2d2d;
  scrollbar-width: thin;
}

.modal-content::-webkit-scrollbar {
  width: 10px;
}

.modal-content::-webkit-scrollbar-track {
  background: #2d2d2d;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 10px;
  border: 2px solid #2d2d2d;
}
